body {
    height: 100%;
    min-width: 100vh;
}

.backimage {
    height: 100%;
}

.aboutMe-background-img {
    width: 100%;

}

.meDP {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.meDP-img{
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}
