*{
    padding: 0;
    margin: 0;
}
.walpaper{
    margin: 0 auto;
    width: 1000px;
}
.theBody{
    background-color:lightblue;
}
.imageBack{
    width: 500px;
    height:600px;
    background-image: url(imageFolder/Firefly_Gemini_Flash_remove_the_background_._927196-removebg-preview.png);
    background-repeat: no-repeat;
    background-size:cover;
    /* background-position: center right; */
}
.imageBac{
  display: flex;
  justify-content: flex-end;
}

.taskBar{
    height: auto;
    padding: 5px;
    background-color: rgb(22, 143, 249);
    border-radius: 5px;
    align-items:center;
    justify-content: left;
    display: flex;
    margin: 10px; 
}
.buttonAboutMe{
    padding: 2px;
    margin: 1px;
    background-color: rgb(76, 218, 213);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
.buttonProject{
    padding: 2px;
    background-color: rgb(76, 218, 213);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
.buttonAllSite{
    padding: 2px;
    background-color: rgb(76, 218, 213);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}