*{
    padding: 0;
    margin: 0;
}
.walpaper{
    margin: 0 auto;
    width: 1000px;
}
.theBody{
    background-color:lightblue;
}
.imageBack{
    width: 500px;
    height:600px;
    background-image: url(imageFolder/Firefly_Gemini_Flash_remove_the_background_._927196-removebg-preview.png);
    background-repeat: no-repeat;
    background-size:cover;
    /* background-position: center right; */
}
.imageBac{
  display: flex;
  justify-content: flex-end;
}

div{
    padding: 5px;
    transition: 0.3s;
}

div a{
    text-decoration: none;
}
.aboutme :hover{
    background-color:rgba(11, 255, 247, 0.17);
    border-radius: 20px;
    padding: 5px;
}
.site :hover{
    background-color:rgba(11, 255, 247, 0.105);
    border-radius: 20px;
    padding: 5px;
}
.project :hover{
    background-color:rgba(11, 255, 247, 0.129);
    border-radius: 20px;
    padding: 5px;
}